<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title%}ice-Cream{% endblock title%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  {% comment %} this is a favicon files {% endcomment %}
  <link rel="icon" type="image/png" sizes="32x32" href="\static\favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="\static\favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {% comment %} this is sav {% endcomment %}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<nav class="navbar navbar-expand-lg bg-bg-dark-tertiary">
  <div class="container-fluid">
  {% comment %} <button type="submit" class="btn btn-primary text-center">Submit</button> {% endcomment %}
    <a class="navbar-brand text-warning " href="#">Ice cream store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active font-weight-bold" aria-current="page" href="\home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link text-dark" href="/logout"><strong>{{request.user.get_full_name}} <strong class="text-primary">Log-out</strong></strong></a>
        </li>
          {% else %}
        <li><a class="nav-link" href="/login">login</a></li>
          {% endif %}
      </ul>
      <form class="d-flex " role="search">
        <input class="form-control me-2 bg-text-warning" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-bg-dark text-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>
{%block body %}
{%endblock body %}
</body>
</html>
{% comment %} {%block body %}
{%endblock body %} {% endcomment %}


    
