{% extends 'base.html' %} {% block title%}services{% endblock title%} 
{% block body%}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Pricing</h1>
  <p class="fs-5 text-muted">
    Quickly build an effective pricing table for your potential customers with
    this Bootstrap example. It’s built with default Bootstrap components and
    utilities with little customization.
  </p>
</div>
<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% if request.user.is_authenticated %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $0<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Free 30-Min Services</li>
            <li>Free Dilver</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <a type="button" href="/contact" class="w-100 btn btn-lg btn-outline-primary bg-warning text-dark">
            Your are Login*
          </a>
        </div>
      </div>
    </div>
    {% comment %} this is the clone of free dilver {% endcomment %}
     {% else %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $0<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Free 30-Min Services</li>
            <li>Free Dilver</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <a
            type="button"
            href="/login"
            class="w-100 btn btn-lg btn-outline-primary "
          >
            Your are not Login!
        </a>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $15<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>15-Min-delivery</li>
            <li>With Extra-Coupans</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">
            Get started
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            $29<small class="text-muted fw-light">/mo</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">
            Contact us
          </button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Compare plans</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%"></th>
          <th style="width: 22%">Free</th>
          <th style="width: 22%">Pro</th>
          <th style="width: 22%">Enterprise</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Public</th>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Private</th>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Permissions</th>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Sharing</th>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Unlimited members</th>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Extra security</th>
          <td></td>
          <td></td>
          <td>
            <svg class="bi" width="24" height="24">
              <use xlink:href="#check"></use>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Ice-Cream-Store
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="/contact" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="/contact" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="/contact" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="/contact" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Punjab, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ankitsharma7365@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >Ice-cream.in</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

{%endblock body%}
