{% extends 'auth/base.html' %} {% block title%}Sign-in{% endblock title%}
{%block body%}
<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Sign-in Pls</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div
              class="img"
              style="
                background-image: url(https://cdn.pixabay.com/photo/2020/02/14/14/19/ice-cream-4848501_960_720.jpg);
              "
            ></div>
            <div class="login-wrap p-4 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Sign-in</h3>
                </div>
                <div class="w-100">
                  <p class="social-media d-flex justify-content-end">
                    <a
                      href="#"
                      class="social-icon d-flex align-items-center justify-content-center"
                      ><span class="fa fa-facebook"></span
                    ></a>
                    <a
                      href="#"
                      class="social-icon d-flex align-items-center justify-content-center"
                      ><span class="fa fa-twitter"></span
                    ></a>
                  </p>
                </div>
              </div>
              <form action="/login" method="POST" class="signin-form">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <label class="label" for="name">number</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Username"
                    name="number"
                    required
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="label" for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required
                    name="password"
                  />
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary rounded submit px-3"
                  >
                    Sign In
                  </button>
                </div>
               
                  {% comment %} <div class="w-50 text-left">
                    <label class="checkbox-wrap checkbox-primary mb-0"
                      >Remember Me
                      <input type="checkbox" checked />
                      <span class="checkmark"></span>
                    </label>
                  </div> {% endcomment %}
                  {% comment %} <div class="w-50 text-md-right">
                    <a href="#">Forgot Password</a>
                  </div> {% endcomment %}
                
              </form>
              <p class="text-center">
                Sign-Up first? <a href="/signup">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{%endblock body%}
