{% extends 'auth/base.html' %} 
{% block title%}Sign-up{% endblock title%} 

{%block body%}
<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Sign-up </h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div
              class="img"
              style="background-image: url(https://cdn.pixabay.com/photo/2016/12/26/17/28/ice-cream-1932465_960_720.jpg)"
            ></div>
            <div class="login-wrap p-4 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Sign-up</h3>
                </div>
                <div class="w-100">
                  <p class="social-media d-flex justify-content-end">
                    <a
                      href="#"
                      class="social-icon d-flex align-items-center justify-content-center"
                      ><span class="fa fa-facebook"></span
                    ></a>
                    <a
                      href="#"
                      class="social-icon d-flex align-items-center justify-content-center"
                      ><span class="fa fa-twitter"></span
                    ></a>
                  </p>
                </div>
              </div>
              <form action="/signup"  method="POST" class="signin-form">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <label class="label" for="Firstname">Firstname:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First-name:"
                    name="fname"
                    required
                  />
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="lastname">Lastname:</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last-name:"
                      name="lname"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="Number">Number:</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Entre the no:"
                      name="number"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="Email">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Entre your email:"
                      name="email"
                      required
                    />
                  </div>
                <div class="form-group mb-3">
                  <label class="label" for="password">Password:</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    required
                  />
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="password">Confirm-Password:</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="confirmpass"
                      required
                    />
                  </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary rounded submit px-3"
                  >
                   Register
                  </button>
                </div>
              </form>
              <p class="text-center">
              Have a Rigester Account? <a href="/login">Login-in</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{%endblock body%}